
<nav class="navbar">
  <div class="container">
    <!-- Company Logo -->
    <a class="logo" routerLink="/"><img src="assets/img/Samitha-designstyle-boots-m.png" alt="SAMHITAA" /></a>

    <!-- Navigation Links -->
    <ul class="nav-links">
      <li><a routerLink="/">Digital Badge</a></li>
      <li><a routerLink="/track-your-circle">Track Your Circle</a></li>
      <li><a routerLink="/more-details">More Details</a></li>
      <li><a routerLink="/about-company">About Company</a></li>
      <li><a routerLink="/contact-us">Contact Us</a></li>
    </ul>

    <!-- Hamburger Icon for Mobile -->
    <div class="hamburger" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</nav>

  